{% include 'header.html' %}
{% include 'navbar.html' %}

<h1>{{ titulo }}</h1>
<br>
<iframe title="Evolución de Costo de Acciones de Starbucks" aria-label="Stacked Bars" id="datawrapper-chart-drVK1" src="https://datawrapper.dwcdn.net/drVK1/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="361" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
</script>
<br><br>
<iframe title="Relación entre las Ganancias y Volumen de Transacciones de Acciones" aria-label="Scatter Plot" id="datawrapper-chart-X6KWn" src="https://datawrapper.dwcdn.net/X6KWn/1/" scrolling="no" frameborder="0" style="border: none;" width="600" height="478" data-external="1"></iframe>
<br><br>
<iframe title="Promedio de Ganancias por Mes" aria-label="Interactive line chart" id="datawrapper-chart-BlOtb" src="https://datawrapper.dwcdn.net/BlOtb/1/" scrolling="no" frameborder="0" style="border: none;" width="600" height="479" data-external="1"></iframe>
