<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/logo.jpeg" alt="Avatar Logo" style="width:75px;" class="rounded-pill"> 
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.kaggle.com/datasets/next789/starbucks-shares-dataset">Dataset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graficas">Graficas Interactivas</a>
          </li>
          
          
        </ul>
        
      </div>
    </div>
  </nav>